/* Nav Container */
.footer {
    width: 100vw;
    background: linear-gradient(135deg, rgb(117, 152, 180) 0%, rgb(43, 120, 162) 100%);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08);
    padding: 16px 40px;
}

.footer-container {
    display: flex;
    margin-right: 0;
    justify-content: space-between;
}

/* Logo */
.footer-logo {
    width: 36%;
    margin-top: 23px;
}

/* Footer Links */
.footer-group {
    margin-right: 8%;
}
.footer-links {
    display: flex;
    align-items: center;
    justify-content: right;
}

.footer-link {
    text-decoration: none;
    color: #333;
    font-size: 13px;
    font-weight: 500;
    transition: all 0.3s ease;
    position: relative;
    margin: 15px;
}

.footer-link:hover {
    color: white;
}

/* Responsive Design */
@media (max-width: 768px) {
    .footer {
        padding: 12px 20px;
    }

    .footer-links {
        gap: 16px;
    }

    .footer-link {
        font-size: 11px;
    }

    .nav-btn-login,
    .nav-btn-logout {
        padding: 8px 20px;
        font-size: 14px;
    }
}

@media (max-width: 600px) {
    .footer-container {
        flex-wrap: wrap;
        justify-content: center;
        gap: 12px;
    }

    .footer-logo {
        width: 100%;
        justify-content: center;
        margin-bottom: 8px;
    }

    .footer-links {
        gap: 12px;
        flex-wrap: wrap;
        justify-content: center;
    }
}